@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  min-height: 100vh;
  overflow-x: hidden;
} */

